---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BlogPost from "../../layouts/BlogPost.astro";

import { getAllBlogs, getDetail } from "../../repositories/microcmsRepository";
import { BlogDetail } from "../../types/microcmsTypes";

export async function getStaticPaths() {
	const res = await getAllBlogs({ fields: ["id"] });
	return res.contents.map((content) => ({
		params: { contentId: content.id },
	}));
}

const { contentId } = Astro.params;
console.log(contentId);
const blogData: BlogDetail | null =
	contentId == null ? null : await getDetail(contentId);
console.log(blogData);
---

<html lang="ja">
	<head>
		<BaseHead title={blogData?.title ?? ""} description={"俺"} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<h1 class="title">{blogData?.title}</h1>
				<hr />
				<div set:html={blogData?.content ?? ""} />
			</article>
		</main>
		<Footer />
	</body><html lang="ja" class="-webkit-">
		<head>
			<meta charset="UTF-8" />
			<link
				rel="apple-touch-icon"
				type="image/png"
				href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png"
			/>
			<meta name="apple-mobile-web-app-title" content="CodePen" />
			<link
				rel="shortcut icon"
				type="image/x-icon"
				href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico"
			/>
			<link
				rel="mask-icon"
				type="image/x-icon"
				href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg"
				color="#111"
			/>

			<title>CodePen - Flex Blog Entries</title>
			<link
				rel="canonical"
				href="https://codepen.io/markmurray/pen/dyYGWo"
			/>

			<style
				media=""
				data-href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
			>
				html,
				body,
				div,
				span,
				applet,
				object,
				iframe,
				h1,
				h2,
				h3,
				h4,
				h5,
				h6,
				p,
				blockquote,
				pre,
				a,
				abbr,
				acronym,
				address,
				big,
				cite,
				code,
				del,
				dfn,
				em,
				img,
				ins,
				kbd,
				q,
				s,
				samp,
				small,
				strike,
				strong,
				sub,
				sup,
				tt,
				var,
				b,
				u,
				i,
				center,
				dl,
				dt,
				dd,
				ol,
				ul,
				li,
				fieldset,
				form,
				label,
				legend,
				table,
				caption,
				tbody,
				tfoot,
				thead,
				tr,
				th,
				td,
				article,
				aside,
				canvas,
				details,
				embed,
				figure,
				figcaption,
				footer,
				header,
				hgroup,
				menu,
				nav,
				output,
				ruby,
				section,
				summary,
				time,
				mark,
				audio,
				video {
					margin: 0;
					padding: 0;
					border: 0;
					font-size: 100%;
					font: inherit;
					vertical-align: baseline;
				}
				article,
				aside,
				details,
				figcaption,
				figure,
				footer,
				header,
				hgroup,
				menu,
				nav,
				section {
					display: block;
				}
				body {
					line-height: 1;
				}
				ol,
				ul {
					list-style: none;
				}
				blockquote,
				q {
					quotes: none;
				}
				blockquote:before,
				blockquote:after,
				q:before,
				q:after {
					content: "";
					content: none;
				}
				table {
					border-collapse: collapse;
					border-spacing: 0;
				}
			</style>

			<style>
				*,
				*:before,
				*:after {
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
				}

				a,
				a:visited {
					display: block;
					text-decoration: inherit;
					color: inherit;
				}

				html,
				body {
					font-family: "Open Sans", sans-serif;
					font-size: 100%;
					background: #e2e5eb;
				}

				.container {
					padding: 0.5em 1em 1em;
					max-width: calc(1400px + 1em);
					margin: 0 auto;
					overflow: hidden;
				}
				.container .blog-posts .featured {
					width: 100% !important;
					height: 250px !important;
					margin: 0.5em 0 1em 0 !important;
				}
				.container .blog-posts .featured .image {
					height: 250px !important;
				}
				.container .blog-posts .featured .content {
					height: 250px !important;
				}
				.container .blog-posts .row {
					display: flex;
				}
				.container .blog-posts .row .post:last-child {
					margin-right: 0 !important;
				}
				.container .blog-posts .post {
					flex: 1;
					overflow: hidden;
					background: white;
					height: 200px;
					-moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
					-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
					box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
					margin-right: 1em;
					margin-bottom: 1em;
				}
				.container .blog-posts .post:hover {
					-moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
					-webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
					box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
				}
				.container .blog-posts .post:hover .image {
					opacity: 0.8;
				}
				.container .blog-posts .post .image,
				.container .blog-posts .post .content {
					display: inline-block;
					position: relative;
					-moz-transition: all 500ms ease;
					-o-transition: all 500ms ease;
					-webkit-transition: all 500ms ease;
					transition: all 500ms ease;
				}
				.container .blog-posts .post .image {
					float: left;
					width: 50%;
					height: 200px;
					background-size: cover;
					background-position: center center;
				}
				.container .blog-posts .post .image .time {
					background: rgba(255, 255, 255, 0.5);
					width: 50px;
					text-align: center;
					padding: 0.5em 0;
					color: #444;
				}
				.container .blog-posts .post .image .time .date {
					font-weight: bolder;
				}
				.container .blog-posts .post .image .time .month {
					font-size: 0.7rem;
				}
				.container .blog-posts .post .content {
					padding: 0.5em 1em;
					width: 50%;
					-moz-box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
					-webkit-box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
					box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
					height: 200px;
				}
				.container .blog-posts .post .content:before {
					content: "";
					position: absolute;
					background: white;
					width: 10px;
					height: 10px;
					top: 20%;
					left: -5px;
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					-moz-box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1);
					-webkit-box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1);
					box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1);
				}
				.container .blog-posts .post .content h1 {
					font-weight: 600;
					line-height: 2;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.container .blog-posts .post .content p {
					font-weight: 300;
					font-size: 0.7rem;
					line-height: 1.5;
					margin-bottom: 0.5em;
					font-family: "Merriweather", sans-serif;
				}
				.container .blog-posts .post .content .meta .icon-comment {
					font-size: 0.7em;
					line-height: 2;
					margin-top: auto;
				}

				[class^="icon-"]:before {
					margin-right: 0.5em;
					color: #3498db;
				}

				img {
					max-width: 100%;
					height: auto;
				}

				@media screen and (max-width: 840px) {
					.row {
						display: block !important;
					}
					.row .post {
						width: 100%;
						margin: 0;
					}
				}
				@media screen and (max-width: 600px) {
					.content {
						width: 70% !important;
					}

					.image {
						width: 30% !important;
					}

					h1 {
						text-overflow: inherit;
						white-space: normal;
					}
				}
				/* clearfix */
				.cf:before,
				.cf:after {
					content: " ";
					/* 1 */
					display: table;
					/* 2 */
				}

				.cf:after {
					clear: both;
				}
			</style>

			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"
			></script>
		</head>

		<body translate="no">
			<div class="container">
				<div class="blog-posts">
					<div class="post featured">
						<a href="#">
							<div
								class="image"
								style="background-image: url(https://unsplash.it/600/400/?random)"
							>
								<div class="time">
									<div class="date">04</div>
									<div class="month">APR</div>
								</div>
							</div>
							<div class="content">
								<h1>
									Multiply created make behold fourth yielding
									living male very god.
								</h1>
								<p>
									Lorem ipsum dolor sit amet, consectetur
									adipisicing elit. Quas illo tempore at
									eveniet adipisci harum error deserunt in
									sint aspernatur magni asperiores explicabo
									corporis ratione praesentium illum magnam
									esse ipsa dignissimos quaerat perferendis
									dolor vero? Maiores hic modi optio eaque...
								</p>
								<div class="meta">
									<div class="icon-comment">22 Comments</div>
									<ul class="tags">
										<li></li>
										<li></li>
									</ul>
								</div>
							</div>
						</a>
					</div>
					<div class="row cf">
						<div class="post">
							<a href="#">
								<div
									class="image"
									style='background-image: url("https://unsplash.it/300/300/?image=122");'
								>
									<div class="time">
										<div class="date">27</div>
										<div class="month">MAR</div>
									</div>
								</div>
								<div class="content">
									<h1>
										Man called gathering us great subdue
										unto herb sixth forth.
									</h1>
									<p>
										Lorem ipsum dolor sit amet, consectetur
										adipisicing elit. Nam a nostrum nihil
										nulla hic laborum illum...
									</p>
									<div class="meta">
										<div class="icon-comment">
											22 Comments
										</div>
										<ul class="tags">
											<li></li>
											<li></li>
										</ul>
									</div>
								</div>
							</a>
						</div>
						<div class="post">
							<a href="#">
								<div
									class="image"
									style='background-image: url("https://unsplash.it/300/300/?image=313");'
								>
									<div class="time">
										<div class="date">1</div>
										<div class="month">MAR</div>
									</div>
								</div>
								<div class="content">
									<h1>
										Man called gathering us great subdue
										unto herb sixth forth.
									</h1>
									<p>
										Lorem ipsum dolor sit amet, consectetur
										adipisicing elit. Nam a nostrum nihil
										nulla hic laborum illum...
									</p>
									<div class="meta">
										<div class="icon-comment">
											22 Comments
										</div>
										<ul class="tags">
											<li></li>
											<li></li>
										</ul>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="row cf">
						<div class="post">
							<a href="#">
								<div
									class="image"
									style='background-image: url("https://unsplash.it/300/300/?image=834");'
								>
									<div class="time">
										<div class="date">29</div>
										<div class="month">MAR</div>
									</div>
								</div>
								<div class="content">
									<h1>
										Man called gathering us great subdue
										unto herb sixth forth.
									</h1>
									<p>
										Lorem ipsum dolor sit amet, consectetur
										adipisicing elit. Nam a nostrum nihil
										nulla hic laborum illum...
									</p>
									<div class="meta">
										<div class="icon-comment">
											22 Comments
										</div>
										<ul class="tags">
											<li></li>
											<li></li>
										</ul>
									</div>
								</div>
							</a>
						</div>
						<div class="post">
							<a href="#">
								<div
									class="image"
									style='background-image: url("https://unsplash.it/300/300/?image=613");'
								>
									<div class="time">
										<div class="date">25</div>
										<div class="month">MAR</div>
									</div>
								</div>
								<div class="content">
									<h1>
										Man called gathering us great subdue
										unto herb sixth forth.
									</h1>
									<p>
										Lorem ipsum dolor sit amet, consectetur
										adipisicing elit. Nam a nostrum nihil
										nulla hic laborum illum...
									</p>
									<div class="meta">
										<div class="icon-comment">
											22 Comments
										</div>
										<ul class="tags">
											<li></li>
											<li></li>
										</ul>
									</div>
								</div>
							</a>
						</div>
						<div class="post">
							<a href="#">
								<div
									class="image"
									style='background-image: url("https://unsplash.it/300/300/?image=156");'
								>
									<div class="time">
										<div class="date">5</div>
										<div class="month">MAR</div>
									</div>
								</div>
								<div class="content">
									<h1>
										Man called gathering us great subdue
										unto herb sixth forth.
									</h1>
									<p>
										Lorem ipsum dolor sit amet, consectetur
										adipisicing elit. Nam a nostrum nihil
										nulla hic laborum illum...
									</p>
									<div class="meta">
										<div class="icon-comment">
											22 Comments
										</div>
										<ul class="tags">
											<li></li>
											<li></li>
										</ul>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="row cf">
						<div class="post">
							<a href="#">
								<div
									class="image"
									style='background-image: url("https://unsplash.it/300/300/?image=507");'
								>
									<div class="time">
										<div class="date">22</div>
										<div class="month">MAR</div>
									</div>
								</div>
								<div class="content">
									<h1>
										Man called gathering us great subdue
										unto herb sixth forth.
									</h1>
									<p>
										Lorem ipsum dolor sit amet, consectetur
										adipisicing elit. Nam a nostrum nihil
										nulla hic laborum illum...
									</p>
									<div class="meta">
										<div class="icon-comment">
											22 Comments
										</div>
										<ul class="tags">
											<li></li>
											<li></li>
										</ul>
									</div>
								</div>
							</a>
						</div>
						<div class="post">
							<a href="#">
								<div
									class="image"
									style='background-image: url("https://unsplash.it/300/300/?image=442");'
								>
									<div class="time">
										<div class="date">8</div>
										<div class="month">MAR</div>
									</div>
								</div>
								<div class="content">
									<h1>
										Man called gathering us great subdue
										unto herb sixth forth.
									</h1>
									<p>
										Lorem ipsum dolor sit amet, consectetur
										adipisicing elit. Nam a nostrum nihil
										nulla hic laborum illum...
									</p>
									<div class="meta">
										<div class="icon-comment">
											22 Comments
										</div>
										<ul class="tags">
											<li></li>
											<li></li>
										</ul>
									</div>
								</div>
							</a>
						</div>
						<div class="post">
							<a href="#">
								<div
									class="image"
									style='background-image: url("https://unsplash.it/300/300/?image=848");'
								>
									<div class="time">
										<div class="date">21</div>
										<div class="month">MAR</div>
									</div>
								</div>
								<div class="content">
									<h1>
										Man called gathering us great subdue
										unto herb sixth forth.
									</h1>
									<p>
										Lorem ipsum dolor sit amet, consectetur
										adipisicing elit. Nam a nostrum nihil
										nulla hic laborum illum...
									</p>
									<div class="meta">
										<div class="icon-comment">
											22 Comments
										</div>
										<ul class="tags">
											<li></li>
											<li></li>
										</ul>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<script
				src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"
			></script>

			<script id="rendered-js">
				function rand(min, max) {
					return Math.floor(Math.random() * max) + min;
				}

				document
					.querySelectorAll(".post:not(.featured)")
					.forEach((post) => {
						post.querySelector(
							".image"
						).style.backgroundImage = `url("https://unsplash.it/300/300/?image=${rand(
							100,
							1000
						)}")`;
					});
				//# sourceURL=pen.js
			</script>

			<script
				src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRefreshCSS-44fe83e49b63affec96918c9af88c0d80b209a862cf87ac46bc933074b8c557d.js"
			></script>
		</body>
	</html>
</html>
