---
import { profileIcon400Url } from "../../consts";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
	<main>
		<div class="container mx-auto w-full text-center">
			<div class="w-32 my-8 mx-auto rounded-full bg-base-100">
				<img class="mx-auto" src={profileIcon400Url} />
			</div>
			<p class="mb-8">特に無い</p>
			<div class="flex justify-center gap-1 my-1 w-full">
				<kbd class="kbd">Enter</kbd>
			</div>
		</div>
	</main>
</Layout>

<style></style>
