---
import { BlogContentEyecatch } from "../types/blogTypes";
import { noImageUrl } from "../consts";
interface Props {
    eyecatch?: BlogContentEyecatch;
    date: string;
    month: string;
}
const { eyecatch, date, month } = Astro.props;
const imageUrl = eyecatch?.url ?? noImageUrl;
---

<figure class="eyecatch bg-violet-300">
    <img class="h-40" src={imageUrl} alt="eyecatch" />
    <div class="time">
        <div class="date">{date}</div>
        <div class="month">{month}</div>
    </div>
</figure>

<style>
    .time {
        position: absolute;
        top: 0px;
        left: 0;
        background: rgba(255, 255, 255, 0.5);
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 0.5em 0;
    }
    .time .date {
        font-weight: bolder;
    }
    .time .month {
        font-size: 0.7rem;
    }
</style>
